#logo{
  width: 100%;
  height: 100%;
  background-color: #006cb5;
  border-radius: 20%;
  transform:rotate(-10deg);
  display: flex;
  align-items: center;
  justify-content: center;

  // GESTION animation hover
  &:hover > .logo-text > .point{
    transform:translateY(-700%) ;
    transition: transform 3s;
  }
  &:hover > .logo-text > .letter{
    transform: rotate(350deg) ;
    transition: transform 3s;
  }
  //  Gestion de la div englobant le T.
  &> .logo-text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

    //  Gestion de la lettre T
    .letter{
      transform: rotate(10deg);
      position: relative;
      width: 65%;
      height: 65%;
      color: white;
      transition: 1s;
      &> .t {
        position: absolute;
        border-radius: 8vh;
        background-color: white;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        text-align: center;
        // barre du T horizontale
        &-horizontal{
          width: 100%;
          height: 15%;
          transition: background-color 1s;
          &:hover{
            background-color: black;
            transition: background-color 1s;
          }
        }
        // barre du T verticale
        &-vertical{
          width: 15%;
          height: 100%;
          transition: background-color 1s;

          &:hover{
            background-color: black;
            transition: background-color 1s;
          }
        }
      }
    }
      //  Gestion du point
    &> .point{
      transform: rotate(10deg);
      margin-top: 65%;
      border-radius: 100%;
      background-color: white;
      width: 10%;
      height: 10%;
      transition: transform 1s;
      &:hover{
        transform: scale(150%);
      }
    }
  }
}

